.console {
    opacity: 0.8;
    height: 30%;
    width: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
}

.consoleInput {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.consoleOutput {
    position: absolute;
    width: 100%;
    top: 0px;
}